.projects {
    background-color: #f9f9f9;
  }
  
  .projects h2 {
    margin-bottom: 40px;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .project-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: left;
  }
  
  .project-card h3 {
    margin-top: 0;
  }
  
  .project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
  }
  